# Python
__pycache__/
*.pyc

# Logs
*.log
logs/

# Environment
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Docker
*.pid
# Large datasets
data/raw/paysim.csv
data/processed/processed_paysim.csv

# Models
models/*.pkl

# Logs
*.log
logs/
checkpoints/